.speech{
    font-size: 20px;
    color: black;
    size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.direction{
    font-size: 25px;
    color: black;
    size: 10px;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.direction:hover{
    background-color: brown;
    color:chartreuse;
}
.COMEDIAN{
    color : yellowgreen;
    font-size: 20px;
    font-style: inherit;
    font: bold;
    filter:blur(0.5);

}
.HEROINE{
   color: darkolivegreen;
   font-size: 20px;
   font:bold;
   font-style: inherit;
}
.HEROINE:hover{
    text-shadow: 2px 2px 5px blue;

}
.name.COMEDIAN:hover{
    text-shadow: 2px 2px brown;
}
h6:hover {
    text-shadow: 20px 20px 30px gray;
    border:1px black solid;
    font-size: 30px;
}
table { 
    color: black;
    margin: 25px 25px 25px 25px;   
    
    }
table,th,td{
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
    
    }
td {
       
        color:red;
        text-align: center;
    
    }
    th{
          
        font: bold;
        color: black;
        text-align: center;
        background-color: bisque;
    }
tr:nth-child(even) {
        background-color: lemonchiffon;
      }
      tr:nth-child(odd) {
        background-color: greenyellow;
      }
ul{
        display: flex;
        margin: 20px;
        border: 0cm;

      }
      li{
        margin-left: 20px;
        list-style: none;
        color: blue;
      }
      li a{
        text-decoration: none;
      }